# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-debug.log

# Go
/backend/bin/
/backend/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment Variables
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.vscode/*
!.vscode/settings.json
*.swp
