PORT=3000
SUPABASE_URL=https://vescjjkwgkmjhbsgbvvt.supabase.co
SUPABASE_KEY=sb_publishable_b8XTCsANXZ6VAzy4pICO6Q__XsIpI5Y
DATABASE_URL=postgres://postgres.vescjjkwgkmjhbsgbvvt:New_0909512583@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DIRECT_URL=postgres://postgres:New_0909512583@db.vescjjkwgkmjhbsgbvvt.supabase.co:5432/postgres
